In [75]:
import pandas as pd
import os

#transcriptMatricesDir='/nrnb/users/btsui/Data/all_seq/rnaseq_merged_chunks/'

transcriptMatricesDir='/nrnb/users/btsui/Data/all_seq/rnaseq_merged_chunks/'

inFnameS=pd.Series(os.listdir(transcriptMatricesDir))

inDf=inFnameS.str.split('.',expand=True)

inDf.columns=['Species','Resolution','Metric','','']

inDf.groupby(['Species','Metric','Resolution']).size().unstack()

Resolution               gene_symbol  transcript
Species      Metric
Homo_sapiens est_counts         35.0        86.0
             tpm                39.0        86.0
Mus_musculus est_counts          NaN        88.0
             tpm                 NaN        46.0

In [44]:
#!ls /nrnb/users/btsui/Data/all_seq/rnaseq_merged_chunks/