In [1]:
import pandas as pd
import re

/cellar/users/btsui/anaconda3/envs/deep_nlp_cpu/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
##configure this to your local copy of mergedBySRR
base_mergedBySRR_dir='/cellar/users/btsui/Data/merged/snp/hg38/mergedBySRR/'

In [3]:
query_SRR='ERR126304'

In [4]:
query_Run_digits=int(re.search(r"\d+", query_SRR).group(0))
query_Run_db=re.search(r"\wRR+", query_SRR).group(0)

In [5]:
#currently fixed, just use this
chunkSize=int(10**5)

In [6]:
%time tmpDf=pd.read_pickle('/cellar/users/btsui/Data/merged/snp/hg38/mergedBySRR/{}.pickle.gz'.format(chunkSize))

CPU times: user 23.6 s, sys: 3.16 s, total: 26.8 s
Wall time: 26.8 s

In [7]:
hitDf=tmpDf.loc[['ERR',126304]]

In [9]:
hitDf.head(n=30)

features                            ReadDepth  AverageBaseQuality
Run_db Run_digits Chr Pos     base
ERR    187270     1   14727   A             2                  31
                              G             8                  37
                      630825  T            70                  36
                      630833  C            75                  35
                              T             1                  37
                      833068  G             1                  32
                      842133  G             5                  37
                      843942  G             1                  40
                      850609  T             4                  38
                      948136  G             3                  34
                      955964  G             1                  38
                      970788  G             2                  37
                      1013541 C             1                  17
                      1014143 C             2                  24
                      1014228 A             2                  37
                              G             1                  37
                      1014316 C             2                  37
                      1014359 G             4                  38
                      1020239 G             1                  36
                      1022188 A             2                  35
                      1022225 G             2                  30
                      1022260 C             3                  39
                      1022313 A             1                  38
                      1042136 T             2                  36
                      1042190 A             1                  36
                              G             2                  36
                      1043223 C             3                  35
                      1043248 C             3                  34
                      1043288 G             3                  37
                      1043382 G             1                  39